<div class="container">
    <div class="row">
        <div class="col-md-12 card-title">
            Register
        </div>
        <div class="col-md-6 card-left">
            <div class="group col-md-12">
                <div class="title">
                    <i class="material-icons icon1">timeline</i>
                   <div class="text">
                    Marketing
                   </div>
                    
                </div>
                <div class="description">
                    We've created the marketing campaign of the website. It was a very interesting collaboration.
                </div>
            </div>

            <div class="group col-md-12">
                <div class="title">
                    <i class="material-icons icon2">code</i>
                    <div class="text">
                        Fully Coded in HTML5
                    </div>

                </div>
                <div class="description">
                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                </div>
            </div>

            <div class="group col-md-12">
                <div class="title">
                    <i class="material-icons icon3">code</i>
                    <div class="text">
                        Built Audience
                    </div>
                </div>
                <div class="description">
                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                </div>
            </div>


        </div>
        <div class="col-md-6 card-right">
            <app-card [isRegister]=true></app-card>    
        </div>

    </div>

</div>