.card {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
   
    width: 330px;
    height: 392px;
    color: white;
    display: block;
    margin: 70px auto;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
}
.inner_card{
    background: linear-gradient(60deg,#ec407a,#d81b60);
    height: 100px;
    
    position: absolute;
    top: -24px;
    left: 7%;
    width: 85%;
   
    border-radius: 5px;
    box-shadow: 0px 27px 35px -30px rgba(0, 0, 0, 1);
}
.card-title{
   
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    display: block;
    margin-top: 10px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}
.subtitle{
    margin-top: 100px;
    color: grey;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
.card-content{
    text-align: center  ;
}
.input_box i{
    font-size: 24px;
    color: rgb(73, 80, 87);
   vertical-align: middle;
   margin-right: 10px;
}
.input_box input{
    display: inline-block;
    width: 80%;
    margin: 10px auto;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
    font-size: 14px;
    outline: none;
    box-shadow: none;
    margin: 15px 0px;
}

.footer{
    text-align: center;
    margin-top: 30px;
}
.footer button{
    color: #e91e63;
    border: none;
    outline: none;
    background: transparent;
}

.register-card{
    margin: 0px;
    padding: 0px;
    position: relative;
    background: transparent;
    border: none;
    box-shadow: none;
}

.register-form-icons{
    text-align: center;
}

.icon{
font-size: 30px;
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 3px;
color: white;
border: none;
outline: none;
}
.ic1{
background-color: #55acee ;
}

.ic2{
background-color: #ea4c89;
}

.ic3{
background-color: #3b5998;
}
.register-subtitle{
    margin-top: 5px;
    color:rgb(51, 51, 51);
    font-size:18px;
    
}
.tnc{
    color:rgb(51, 51, 51);
    font-size: 13px;
    float: right;
    padding-right: 10px;
    
    
}
.tnc input[type='checkbox']{
    margin-right: 5px;
    vertical-align: middle;
}
.tnc a{
    color: #9c27b0;
}

.r-button{
    margin-top: 30px;
    text-align: center;
}
.register-btn{
    background-color: #9c27b0;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 0px 6px 10px -5px #9c27b0 ;
    
    
}