<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-icon"><i class="material-icons"></i>
            </div>
            <div class="card-title">
                Global Sales by Top Locations
            </div>

            <div class="card-body">

                <div class="row">


                    <div class="col-md-5 table-left">


                        <div class="content table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="flag"><img alt="" src="./assets/img/flags/US.png"></div>
                                        </td>
                                        <td> USA </td>
                                        <td class="text-right"> 2.920 </td>
                                        <td class="text-right"> 53.23% </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="flag"><img alt="" src="./assets/img/flags/DE.png"></div>
                                        </td>
                                        <td> Germany </td>
                                        <td class="text-right"> 1.300 </td>
                                        <td class="text-right"> 20.43% </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="flag"><img alt="" src="./assets/img/flags/AU.png"></div>
                                        </td>
                                        <td> Australia </td>
                                        <td class="text-right"> 760 </td>
                                        <td class="text-right"> 10.35% </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="flag"><img alt="" src="./assets/img/flags/GB.png"></div>
                                        </td>
                                        <td> United Kingdom </td>
                                        <td class="text-right"> 690 </td>
                                        <td class="text-right"> 7.87% </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="flag"><img alt="" src="./assets/img/flags/RO.png"></div>
                                        </td>
                                        <td> Romania </td>
                                        <td class="text-right"> 600 </td>
                                        <td class="text-right"> 5.94% </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="flag"><img alt="" src="./assets/img/flags/BR.png"></div>
                                        </td>
                                        <td> Brasil </td>
                                        <td class="text-right"> 550 </td>
                                        <td class="text-right"> 4.34% </td>
                                    </tr>
                                    <!---->
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col-md-7 map">
                        <app-world-map>

                        </app-world-map>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="row chart-cards">
        <div class="card chart-card">
            <div class="chart-card-graph">

            </div>
            <div class="card-body">
                <div class="title">
                    Website Views
                </div>
                <div class="content">
                    Last Campaign Performance
                </div>
                <hr>

            </div>
            <div class="footer">
                <div class="icon">
                    <i class="material-icons">access_time</i>
                </div>
                <div>
                    campaign sent 2 days ago
                </div>
            </div>


        </div>

        <div class="card chart-card">
            <div class="chart-card-graph">

            </div>
            <div class="card-body">
                <div class="title">
                    Daily Sales
                </div>
                <div class="content">
                    increase in todays sale
                </div>
                <hr>

            </div>
            <div class="footer">
                <div class="icon">
                    <i class="material-icons">access_time</i>
                </div>
                <div>
                    updated 4 minutes ago
                </div>
            </div>


        </div>

        <div class="card chart-card">
            <div class="chart-card-graph">

            </div>
            <div class="card-body">
                <div class="title">
                    Completed Tasks
                </div>
                <div class="content">
                    Last Campaign Performance
                </div>
                <hr>

            </div>
            <div class="footer">
                <div class="icon">
                    <i class="material-icons">access_time</i>
                </div>
                <div>
                    campaign sent 2 days ago
                </div>
            </div>


        </div>


    </div>

    <div class="card-deck">
        <div class="card stats-card">
            <div class="icon-content">
                <div class="card-icon stats-card-icon"><i class="material-icons">weekend</i></div>

                <div class="stats-card-counts">
                    <p>Bookings</p>
                    <div class="card-count">184</div>

                </div>

            </div>


            <hr>
            <div class="footer">
                <div class="icon">
                    <i class="material-icons text-danger">warning</i> </div>
                <div>
                    get more space
                </div>
            </div>
        </div>

        <div class="card stats-card">
            <div class="icon-content">
                <div class="card-icon stats-card-icon equalizer-icon"><i class="material-icons">equalizer</i></div>

                <div class="stats-card-counts">
                    <p>Website visits</p>
                    <div class="card-count">75.521</div>

                </div>

            </div>


            <hr>
            <div class="footer">
                <div class="icon">
                    <i class="material-icons text-danger">local_offer</i> </div>
                <div>
                    tracked from google analytics
                </div>
            </div>
        </div>

        <div class="card stats-card">
            <div class="icon-content">
                <div class="card-icon stats-card-icon store-icon"><i class="material-icons">store</i></div>

                <div class="stats-card-counts">
                    <p>Revenue</p>
                    <div class="card-count">$34,525</div>

                </div>

            </div>


            <hr>
            <div class="footer">
                <div class="icon">
                    <i class="material-icons text-danger">date_range</i> </div>
                <div>
                    last 24 hours
                </div>
            </div>
        </div>

        <div class="card stats-card">
            <div class="icon-content">
                <div class="card-icon stats-card-icon twitter-icon"><i class="fa fa-twitter"></i></div>

                <div class="stats-card-counts">
                    <p>Followers</p>
                    <div class="card-count">+245</div>

                </div>

            </div>


            <hr>
            <div class="footer">
                <div class="icon">
                    <i class="material-icons text-danger">update</i> </div>
                <div>
                    just updated
                </div>
            </div>
        </div>



    </div>

    <div>
        <div class="listing-title">Manage Listings</div>
        <div class="card-deck" style="justify-content: space-between;">
            <div *ngFor="let cardData of listCarddata; let i=index">
                <app-list-type-card [data]="cardData" [isLastCard]="i==2?true:false" [isSecondCard]="i==1"></app-list-type-card>
            </div>
        </div>
    </div>


</div>