.card{
    margin-top: 2rem;
    width: 100%;
}
.card-icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 15px;
    color: white;
    background: linear-gradient(60deg,#66bb6a,#43a047);
    position: relative;
    bottom: 20px;
    left: 15px;

}

.card-title
{
position: absolute;
left: 90px;
top: 10px;
font-size: 18px;
font-weight: 300;



}
table td{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.247);
}

.chart-cards{
    display: flex;
    justify-content: space-between;
}



.chart-cards .chart-card{
    width: 350px;
    
}

.chart-cards .chart-card .chart-card-graph:hover{
    animation-name: pullUp;
    animation-duration: 1s;
    
}
.chart-cards .chart-card .chart-card-graph{
    width: 330px;
    height: 150px;
    background: red;
    border-radius: 0.5rem;
    margin: auto;
    position: relative;
    bottom: 20px;
}
.chart-cards .chart-card .card-body{
  padding-bottom: 3px;
}

.chart-cards .chart-card .card-body .title{
    font-size: 20px;
    font-weight: 300;
    color: black;
}

.chart-cards .chart-card .card-body .content{
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.658);
}

hr{
    margin-bottom: 0rem;
}
.footer .material-icons{
    font-size: 15px;
    vertical-align: middle;
    margin-right: 3px;
}
.footer{
    padding-left: 15px;
    color: grey;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: flex-start;
}

@keyframes pullUp {
    from {
       bottom: 20px;
    }
    to {
        bottom: 40px;
    }
  }