.card {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
   
    width: 330px;
    height: 392px;
    color: white;
    display: block;
    margin: 70px auto;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
}
.inner_card{
    background: linear-gradient(60deg,#ec407a,#d81b60);
    height: 100px;
    
    position: absolute;
    top: -24px;
    left: 7%;
    width: 85%;
   
    border-radius: 5px;
    box-shadow: 0px 27px 35px -30px rgba(0, 0, 0, 1);
}
.card-title{
   
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    display: block;
    margin-top: 10px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}
.subtitle{
    margin-top: 100px;
    color: grey;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
.card-content{
    text-align: center  ;
}
.input_box i{
    font-size: 24px;
    color: rgb(73, 80, 87);
   vertical-align: middle;
   margin-right: 10px;
}
.input_box input{
    display: inline-block;
    width: 80%;
    margin: 10px auto;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
    font-size: 14px;
    outline: none;
    box-shadow: none;
}

.footer{
    text-align: center;
    margin-top: 30px;
}
.footer button{
    color: #e91e63;
    border: none;
    outline: none;
    background: transparent;
}