
        <div class="card">
            <div class="inner_card">
                <div class="card-title">Log In</div>
                <div class="icons">
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>                    
                </div>
            </div>

            <div class="subtitle">Or Be Classical</div>
            <div class="card-content">
                <div class="input_box"><i class="material-icons">face</i>
                    <input type="text" placeholder="First Name..." class="form-control">

                </div>
                <div class="input_box"><i class="material-icons">email</i>
                    <input type="email" placeholder="Email..." class="form-control">

                </div>
                <div class="input_box"><i class="material-icons">lock_outline</i>
                    <input type="password" placeholder="Password..." class="form-control">

                </div>
            </div>
            <div class="footer">
                <button>LETS GO</button> </div>
        </div>