.card {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    display: block;
    width: 240px;
    height: 260px;
    color: white;
    margin: 70px auto;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
}

.card__header {
    display: block;
    width: 100%;
    margin: 5px auto;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 30px 35px -23px rgba(0, 0, 0, 1);
}

.card__content {
    margin-top: 80px;
}

.card__content__username {
    text-align: center;
    color: grey;
    font-weight: 100;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.card__content__password {
    display: block;
    color: black;
    width: 80%;
    margin: 0 auto;
}

input {
    color: black;
}

.button {
    text-align: center;
}

button[mat-raised-button] {
    border-radius: 1rem;
    font-weight: 100;
    outline: none;
}