<div class="container">
    <div style="display: flex;">
        <div class="sidebar">
            <div class="title">
                <img
                    src="https://demos.creative-tim.com/material-dashboard-pro-angular2/assets/img/angular2-logo-white.png">
                <a href="" class="hide-me">CREATIVE SONU</a>
            </div>
            <hr>
            <div class="user-details">
                <a class="arrow-down" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">

                    <div class="photo">
                        <img src="assets/avatar.jpg" alt="">
                    </div>
                    <div class="name hide-me">
                        Tania Andrew
                    </div>
                    <div class="icons hide-me">
                        <i class="material-icons">
                            arrow_drop_down
                        </i>

                    </div>

                </a>


            </div>

            <div class="collapse" id="collapseExample">
                <div class="left-nav">
                    <ul class="left-nav__items mini-nav-items">
                        <li class="left-nav__item mini-nav-item">
                            <a href="">
                                <div class="group">
                                    <div class="text-icon">MP</div>
                                    <div class="title hide-me"> My Profile</div>
                                </div>
                            </a>
                        </li>
                        <li class="left-nav__item mini-nav-item">
                            <a href="">
                                <div class="group">
                                    <div class="text-icon">EP</div>
                                    <div class="title hide-me"> Edit Profile</div>
                                </div>
                            </a>
                        </li>
                        <li class="left-nav__item mini-nav-item">
                            <a href="">
                                <div class="group">
                                    <div class="text-icon">S</div>
                                    <div class="title hide-me"> Settings</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>

            <div class="left-nav">
                <ul class="left-nav__items">
                    <li class="left-nav__item">
                        <a [routerLink]="[{ outlets: { dash: ['dash-content'] } }]">
                            <div class="group">
                                <i class="material-icons">dashboard</i>
                                <span class="title hide-me"> Dashboard</span>
                            </div>
                        </a>
                    </li>
                    <li class="left-nav__item">
                        <a href="" class="arrow-down" data-toggle="collapse" href="#collapseForm" aria-expanded="false"
                            aria-controls="collapseForm">
                            <div class="group">


                                <div class="material-icons">content_paste</div>
                                <div class="title hide-me"> Forms</div>
                                <div class="caret-icons hide-me">
                                    <i class="material-icons">
                                        arrow_drop_down
                                    </i>

                                </div>
                            </div>
                        </a>
                    </li>
                    <div class="collapse" id="collapseForm">
                        <div class="left-nav">
                            <ul class="left-nav__items mini-nav-items">
                                <li class="left-nav__item mini-nav-item">
                                    <a [routerLink]="[{ outlets: { dash: ['regular-forms'] } }]">
                                        <div class="group">
                                            <div class="text-icon">RF</div>
                                            <div class="title hide-me"> Regular Forms</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left-nav__item mini-nav-item">
                                    <a [routerLink]="[{ outlets: { dash: ['extended-forms'] } }]">
                                        <div class="group">
                                            <div class="text-icon">EF</div>
                                            <div class="title hide-me"> Extended Forms</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left-nav__item mini-nav-item">
                                    <a [routerLink]="[{ outlets: { dash: ['validation-forms'] } }]">
                                        <div class="group">
                                            <div class="text-icon">VF</div>
                                            <div class="title hide-me"> Validation Forms</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <li class="left-nav__item">
                        <a href="" class="arrow-down" data-toggle="collapse" href="#collapseTable" aria-expanded="false"
                            aria-controls="collapseTable">
                            <i class="material-icons">grid_on</i>
                            <span class="title hide-me"> Tables</span>
                            <div class="caret-icons hide-me">
                                <i class="material-icons">
                                    arrow_drop_down
                                </i>

                            </div>
                        </a>

                    </li>
                    <div class="collapse" id="collapseTable">
                        <div class="left-nav">
                            <ul class="left-nav__items mini-nav-items">
                                <li class="left-nav__item mini-nav-item">
                                    <a [routerLink]="[{ outlets: { dash: ['regular-tables'] } }]">
                                        <div class="group">
                                            <div class="text-icon">RT</div>
                                            <div class="title hide-me"> Regular Tables</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left-nav__item mini-nav-item">
                                    <a [routerLink]="[{ outlets: { dash: ['extended-tables'] } }]">
                                        <div class="group">
                                            <div class="text-icon">ET</div>
                                            <div class="title hide-me"> Extended Tables</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left-nav__item mini-nav-item">
                                    <a [routerLink]="[{ outlets: { dash: ['data-tables'] } }]">
                                        <div class="group">
                                            <div class="text-icon">DT</div>
                                            <div class="title hide-me"> Data Tables</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <li class="left-nav__item">
                        <a [routerLink]="[{ outlets: { dash: ['charts'] } }]">
                            <i class="material-icons">timeline</i>
                            <span class="title hide-me"> Charts</span>
                        </a>
                    </li>
                    <li class="left-nav__item">
                        <a [routerLink]="[{ outlets: { dash: ['widgets'] } }]">
                            <i class="material-icons">widgets</i>
                            <span class="title hide-me"> Widgets</span>
                        </a>
                    </li>
                    <li class="left-nav__item">
                        <a [routerLink]="[{ outlets: { dash: ['maps'] } }]">
                            <i class="material-icons">place</i>
                            <span class="title hide-me"> Maps</span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
        <div class="main-content">
            <app-dash-nav [title]="title" (isCollapseSideNav)="collapseSideNav($event)"></app-dash-nav>
            <router-outlet name='dash'></router-outlet>
        </div>
    </div>
    <div class="container">
        <div class="row">
        <ul class="footer">
            <li class="footer__link"> <a href=""> CREATIVE SONU</a></li>
            <li class="footer__link"> <a href=""> ABOUT US</a></li>
            <li class="footer__link"> <a href=""> BLOG</a></li>
            <li class="footer__link"> <a href=""> LICENSES</a></li>
            <li class="footer__creator-info"> <a href=""> &copy; 2020, made with &hearts; by Sonu Kumar for a better web.</a></li>
        </ul>
        </div>
    </div>
</div>