.container{
margin: 0 0;
padding: 0 0;
max-width: none;
}
.row{
    margin: 0px 0px ;
}
.sidebar{
    height: 100vh;
    background: lightcoral;
    width: 23%;
}

.main-content{
    height: 100vh;
    width: 100%;
    background: lightgreen;
    
    
}
