$grey: #eeeeee;
$dark-red: #e53935;
$dark-green: #56a653;
$sky-blue: #0faebf;
$white: #ffffff;
$dark-pink: #de2b6b;
$badge-red: #f44336;

.container {
    margin: 0 0;
    padding: 0 0;
    max-width: none;
    background-color: $grey;
}
.row {
    margin: 0px 0px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    // height: 100vh;
    min-height: 100%;
    max-height: 100%;
    background: $dark-red;
    width: 20%;
    margin-right: 6px;
    box-shadow: 5px 0px 10px -2px grey;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.918);
    overflow-y: scroll;
}

.main-content {
    // height: 100vh;
    width: 100%;
    background: $grey;
    margin-left: 20%;
    padding: 10px 20px;
}

hr {
    color: rgba(255, 255, 255, 0.918);
    border-color: rgba(255, 255, 255, 0.918);
    margin: 13px;
}

.title {
    text-align: center;
    img {
        width: 40px;
        height: 40px;
    }
    a {
        color: rgba(255, 255, 255, 0.918);
        vertical-align: middle;
        text-decoration: none;
        margin-left: 12px;
        font-size: 18px;
        font-weight: 400;
    }
}
.user-details {
    a {
        display: flex;
        justify-content: left;
        align-items: baseline;
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.918);
        text-decoration: none;
        .photo {
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
        .name {
            line-height: 40px;
            vertical-align: bottom;
        }
        .icons {
            margin-left: 30px;
            height: 40px;
            position: relative;
            top: 7px;
        }
    }
}

.left-nav {
    margin: 10px 0px;
    .left-nav__items {
        list-style: none;
        vertical-align: middle;
        padding: 5px 0px;
        margin: 20px 0px;

        .left-nav__item {
            margin-left: 10px;
            margin-bottom: 20px;

            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.918);

                .group {
                    display: inline-block;
                }
                .text-icon {
                    line-height: 50px;
                    padding-left: 5px;
                    vertical-align: middle;
                    display: inline-block;
                    width: 3rem;
                }

                .material-icons {
                    margin-right: 20px;
                    line-height: 50px;
                    padding-left: 5px;
                    width: 29px;
                    vertical-align: middle;
                }
                .caret-icons {
                    display: inline;
                    position: relative;
                    right: -80px;
                }
                .title {
                    line-height: 50px;
                    vertical-align: middle;
                    font-size: 14px;
                    font-weight: 300;
                    display: inline-block;
                }
            }
        }
        .mini-nav-item {
            margin-bottom: 0px;
        }

        .left-nav__item:hover {
            background: rgba(255, 255, 255, 0.103);
            border-radius: 5px;
        }
    }
    .mini-nav-items {
        margin: 0 0;
        padding: 0 0;
    }
}


ul {
    list-style: none;
}

.footer {
    margin-top: 20px;
    width: 100%;
    background: $grey;
    margin-left: 20%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
   
    li {
        display: inline-block;
        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.685);
        }
    }
    
    .footer__link {
        padding: 10px 10px;
        margin-right: 25px;
        font-size: 12px;
        font-weight: 400;
    }
    
    .footer__link:hover {
        background: rgba(128, 128, 128, 0.233);
        border-radius: 0.5rem;
    }
    .footer__creator-info {
        margin-left: auto;
        font-weight: 300;
    }
    

}

