<div class="container">
    <div style="display: flex;">
        <div class="sidebar">
            <div class="title">
                <img
                    src="https://demos.creative-tim.com/material-dashboard-pro-angular2/assets/img/angular2-logo-white.png">
                <a href="">CREATIVE SONU</a>
            </div>
            <hr>
            <div class="user-details">
                <a class="arrow-down" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">

                    <div class="photo">
                        <img src="assets/avatar.jpg" alt="">
                    </div>
                    <div class="name">
                        Tania Andrew
                    </div>
                    <div class="icons">
                        <i class="material-icons">
                            arrow_drop_down
                        </i>

                    </div>

                </a>


            </div>

            <div class="collapse" id="collapseExample">
                <div class="left-nav">
                    <ul class="left-nav__items mini-nav-items">
                        <li class="left-nav__item mini-nav-item">
                            <a href="">
                                <div class="group">
                                    <div class="text-icon">MP</div>
                                    <div class="title"> My Profile</div>
                                </div>
                            </a>
                        </li>
                        <li class="left-nav__item mini-nav-item">
                            <a href="">
                                <div class="group">
                                    <div class="text-icon">EP</div>
                                    <div class="title"> Edit Profile</div>
                                </div>
                            </a>
                        </li>
                        <li class="left-nav__item mini-nav-item">
                            <a href="">
                                <div class="group">
                                    <div class="text-icon">S</div>
                                    <div class="title"> Settings</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>

            <div class="left-nav">
                <ul class="left-nav__items">
                    <li class="left-nav__item">
                        <a href="">
                            <div class="group">
                            <i class="material-icons">dashboard</i>
                            <span class="title"> Dashboard</span>
                        </div>
                        </a>
                    </li>
                    <li class="left-nav__item">
                        <a href="" class="arrow-down" data-toggle="collapse" href="#collapseForm" aria-expanded="false"
                            aria-controls="collapseForm">
                            <div class="group">

                            
                            <div class="material-icons">content_paste</div>
                            <div class="title"> Forms</div>
                            <div class="caret-icons">
                                <i class="material-icons">
                                    arrow_drop_down
                                </i>

                            </div>
                        </div>
                        </a>
                    </li>
                    <div class="collapse" id="collapseForm">
                        <div class="left-nav">
                            <ul class="left-nav__items mini-nav-items">
                                <li class="left-nav__item mini-nav-item">
                                    <a href="">
                                        <div class="group">
                                            <div class="text-icon">RF</div>
                                            <div class="title"> Regular Forms</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left-nav__item mini-nav-item">
                                    <a href="">
                                        <div class="group">
                                            <div class="text-icon">EF</div>
                                            <div class="title"> Extended Forms</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left-nav__item mini-nav-item">
                                    <a href="">
                                        <div class="group">
                                            <div class="text-icon">VF</div>
                                            <div class="title"> Validation Forms</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <li class="left-nav__item">
                        <a href="" class="arrow-down" data-toggle="collapse" href="#collapseTable" aria-expanded="false"
                            aria-controls="collapseTable">
                            <i class="material-icons">grid_on</i>
                            <span class="title"> Tables</span>
                            <div class="caret-icons">
                                <i class="material-icons">
                                    arrow_drop_down
                                </i>

                            </div>
                        </a>

                    </li>
                    <div class="collapse" id="collapseTable">
                        <div class="left-nav">
                            <ul class="left-nav__items mini-nav-items">
                                <li class="left-nav__item mini-nav-item">
                                    <a href="">
                                        <div class="group">
                                            <div class="text-icon">RT</div>
                                            <div class="title"> Regular Tables</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left-nav__item mini-nav-item">
                                    <a href="">
                                        <div class="group">
                                            <div class="text-icon">ET</div>
                                            <div class="title"> Extended Tables</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left-nav__item mini-nav-item">
                                    <a href="">
                                        <div class="group">
                                            <div class="text-icon">DT</div>
                                            <div class="title"> Data Tables</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <li class="left-nav__item">
                        <a href="">
                            <i class="material-icons">timeline</i>
                            <span class="title"> Charts</span>
                        </a>
                    </li>
                    <li class="left-nav__item">
                        <a href="">
                            <i class="material-icons">widgets</i>
                            <span class="title"> Widgets</span>
                        </a>
                    </li>
                    <li class="left-nav__item">
                        <a href="">
                            <i class="material-icons">place</i>
                            <span class="title"> Maps</span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
        <div class="main-content">
            main content
        </div>
    </div>
</div>